<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
div {  padding-bottom: 2px;   }
.flashes li {
    color: #fff;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 0.025em;
    text-align: center;
}
</style>
</head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/{{bokeh_version}}/bokeh.min.js"></script>

<body>

	<div class="container" style="min-height:100% width:80%">
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
		  <div class="alert alert-warning alert-dismissible" role="alert">
			{{message}}
		  </div>
		{% endfor %}
	  {% endif %}
	{% endwith %}
    </div>


    <form method="post" enctype=multipart/form-data>
    <div class="container">
      <div class="row">
        <label class="col-sm-8"><h2>{{title}}</h2></label>
      </div>

      <div class="row">
        <label class="col-sm-2">Данные (.csv):</label>
        <div class="col-sm-6">
            <input name="file" class="form-control" type="file"/>
        </div>
      </div>

      <div class="row">
        <label class="col-sm-2">Эксгаустер:</label>
        <div class="col-sm-6">
            <input name="exhauster" id="exhauster" class="form-control" type="text" list="list_exhausters" value="{{exhauster}}" placeholder="" onchange="exhausterChange();"/>
            <datalist id="list_exhausters">
                <option>Y_ЭКСГАУСТЕР А/М №4</option>
                <option>Y_ЭКСГАУСТЕР А/М №5</option>
                <option>Y_ЭКСГАУСТЕР А/М №6</option>
                <option>Y_ЭКСГАУСТЕР А/М №7</option>
                <option>Y_ЭКСГАУСТЕР А/М №8</option>
                <option>Y_ЭКСГАУСТЕР А/М №9</option>
            </datalist>
        </div>
      </div>

      <script>
      function exhausterChange() {
          const exhauster_val = document.getElementById("exhauster").value;
          const agregat = document.getElementById("agregat");
          agregat.setAttribute('list','list_' + exhauster_val);
      }
      </script>

      <div class="row">
        <label class="col-sm-2">Агрегат:</label>
        <div class="col-sm-6">
            <input name="agregat" id="agregat" class="form-control" type="text" value="{{agregat}}" placeholder=""/>
            <datalist id="list_Y_ЭКСГАУСТЕР А/М №9">
                <option>ЗАПОРНАЯ АРМАТУРА ЭКСГАУСТЕРА №9</option>
                <option>МАСЛОСТАНЦИЯ ЖИДКОЙ СМАЗКИ ЭКСГ. №9</option>
                <option>ЭЛЕКТРОАППАРАТУРА ЭКСГ. №9</option>
                <option>КЛ1 ТР№9 ДО ЭД ЭКСГАУСТЕРА №9</option>
                <option>ЭЛЕКТРОДВИГАТЕЛЬ ДСПУ-140-84-4 ЭКСГ. №9</option>
                <option>КОРПУС ЭКСГ. №9</option>
                <option>РЕДУКТОР ГАЗ. ЗАДВИЖКИ ЭКСГ. №9</option>
                <option>МАСЛООХЛАДИТЕЛЬ  М-05-1 ЭКСГ. №9</option>
                <option>ЭЛ/ДВИГАТЕЛЬ ГАЗ. ЗАДВИЖКИ ЭКСГ. №9</option>
                <option>ЭЛЕКТРООБОРУДОВАНИЯ ЭКСГАУСТЕРА №9</option>
                <option>ПОДШИПНИК ОПОРНО-УПОРНЫЙ ЭКСГ. №9</option>
                <option>РОТОР ЭКСГ. №9</option>
                <option>ТР-Р ТМ-6300-10/6 ЭКСГ. №9</option>
                <option>ПОДШИПНИК ОПОРНЫЙ ЭКСГ. №9</option>
                <option>МАСЛОНАСОС РАБОЧИЙ ЭКСГ. №9</option>
                <option>ПОДШИПНИК ОПОРНЫЙ №2</option>
                <option>ГСМ ЭКСГ. №9</option>
                <option>КОЖУХ МУФТЫ ЭКСГ. №9</option>
                <option>ПОДШИПНИК ОПОРНЫЙ №1</option>
                <option>ЗАДВИЖКА ЭКСГ. №9</option>
                <option>ВК 310С ВИБРОПРЕОБРАЗОВАТЕЛЬ ЭКСГ.№9 Т.1</option>
                <option>МАСЛОПРОВОДЫ ЭКСГАУСТЕРА №9</option>
                <option>ТИРИСТОРНЫЙ ВОЗБУДИТЕЛЬ ТВ-400 ЭКСГ9 ВУ1</option>
                <option>МЕТРАН-100 ДАТЧИКИ ДАВЛЕНИЯ ЭКСГ.№9</option>
                <option>ТСМТ-101-010-50М-80 ТЕРМОПРЕОБР.МАСЛО</option>
                <option>ТСМТ-101-010-50М-400 ТЕРМОПР.ПОДШ.Т.1</option>
                <option>ЭКСГАУСТЕР А/М №9</option>
                <option>ДВИГАТЕЛЬ ПУСКОВОГО МАСЛОНАСОСА ЭКСГ. №9</option>
            </datalist>


            <datalist id="list_Y_ЭКСГАУСТЕР А/М №5">
                <option>МАСЛООХЛАДИТЕЛЬ  М-05-1 ЭКСГ. №5</option>
                <option>ЭЛЕКТРОДВИГАТЕЛЬ ДСПУ-140-84-4 ЭКСГ. №5</option>
                <option>КОРПУС ЭКСГ. №5</option>
                <option>ЗАДВИЖКА ЭКСГ. №5</option>
                <option>ПОДШИПНИК ОПОРНЫЙ ЭКСГ. №5</option>
                <option>ПОДШИПНИК ОПОРНЫЙ №2</option>
                <option>ПОДШИПНИК ОПОРНО-УПОРНЫЙ ЭКСГ. №5</option>
                <option>МАСЛОНАСОС ШЕСТЕРЕНЧАТЫЙ (РЕЗ.) ЭКСГ. №5</option>
                <option>ВК 310С ВИБРОПРЕОБРАЗОВАТЕЛЬ ЭКСГ.№5 Т.1</option>
                <option>ВК 310С ВИБРОПРЕОБРАЗОВАТЕЛЬ ЭКСГ.№5 Т.3</option>
                <option>ЭЛЕКТРООБОРУДОВАНИЯ ЭКСГАУСТЕРА №5</option>
                <option>ВК 310С ВИБРОПРЕОБРАЗОВАТЕЛЬ ЭКСГ.№5 Т.2</option>
                <option>ПОДШИПНИК ОПОРНЫЙ №1</option>
                <option>РЕДУКТОР ГАЗ. ЗАДВИЖКИ ЭКСГ. №5</option>
                <option>ТИРИСТ. ВОЗБУДИТЕЛЬ ВТ-РЭМ-400 ЭКСГ5 ВУ1</option>
                <option>ЗАПОРНАЯ АРМАТУРА ЭКСГАУСТЕРА №5</option>
                <option>МАСЛОПРОВОДЫ ЭКСГАУСТЕРА №5</option>
                <option>ГСМ ЭКСГ. №5</option>
                <option>ЭКСГАУСТЕР А/М №5</option>
                <option>ТСМТ-101-010-50М-80 ТЕРМОПРЕОБР.МАСЛО</option>
                <option>ТР-Р ТМ-4000-10/6 ЭКСГ. №5</option>
                <option>КЛ1 ТР№5 ДО ЭД ЭКСГАУСТЕРА №5</option>
                <option>КЛ2 ТР№5 ДО ЭД ЭКСГАУСТЕРА №5</option>
                <option>МАСЛОНАСОС РАБОЧИЙ ЭКСГ. №5</option>
                <option>РОТОР ЭКСГ. №5</option>
                <option>МЕТРАН-100 ДАТЧИКИ ДАВЛЕНИЯ ЭКСГ.№5</option>
                <option>ДВИГАТЕЛЬ ПУСКОВОГО МАСЛОНАСОСА ЭКСГ. №5</option>
                <option>ГАЗОВАЯ ЗАДВИЖКА ЭКСГАУСТЕРА А/М №5</option>
                <option>КОЖУХ МУФТЫ ЭКСГ. №5</option>
                <option>ТИРИСТ. ВОЗБУДИТЕЛЬ ВТ-РЭМ-400 ЭКСГ5 ВУ2</option>
                <option>ТСМТ-101-010-50М-400 ТЕРМОПР.ПОДШ.Т.2</option>
                <option>ДВИГАТЕЛЬ РЕЗЕРВНОГО МАСЛОНАСОСА ЭКСГ.№5</option>
                <option>ТСМТ-101-010-50М-200 ТЕРМОПР.ПОДШ.Т.3</option>
                <option>ЭКСГАУСТЕР Н-8000 А/М №5</option>
            </datalist>


            <datalist id="list_Y_ЭКСГАУСТЕР А/М №8">
                <option>РОТОР ЭКСГ. №8</option>
                <option>ЭЛЕКТРОДВИГАТЕЛЬ ДСПУ-140-84-4 ЭКСГ. №8</option>
                <option>КОРПУС ЭКСГ. №8</option>
                <option>РЕДУКТОР ГАЗ. ЗАДВИЖКИ ЭКСГ. №8</option>
                <option>ВК 310С ВИБРОПРЕОБРАЗОВАТЕЛЬ ЭКСГ.№8 Т.3</option>
                <option>ВК 310С ВИБРОПРЕОБРАЗОВАТЕЛЬ ЭКСГ.№8 Т.4</option>
                <option>ЭЛ/ДВИГАТЕЛЬ ГАЗ. ЗАДВИЖКИ ЭКСГ. №8</option>
                <option>МАСЛООХЛАДИТЕЛЬ  М-05-1 ЭКСГ. №8</option>
                <option>ТИРИСТОРНЫЙ ВОЗБУДИТЕЛЬ СПВД-М10-400-5</option>
                <option>КЛ2 ТР№8 ДО ЭД ЭКСГАУСТЕРА №8</option>
                <option>КЛ1 ТР№8 ДО ЭД ЭКСГАУСТЕРА №8</option>
                <option>ТСМТ-101-010-50М-400 ТЕРМОПР.ПОДШ.Т.2</option>
                <option>КОЖУХ МУФТЫ ЭКСГ. №8</option>
                <option>ГСМ ЭКСГ. №8</option>
                <option>ПОДШИПНИК ОПОРНЫЙ №2</option>
                <option>ЭКСГАУСТЕР А/М №8</option>
                <option>ЗАПОРНАЯ АРМАТУРА ЭКСГАУСТЕРА №8</option>
                <option>ТСМТ-101-010-50М-200 ТЕРМОПР.ПОДШ.Т.4</option>
                <option>МАСЛЯНЫЙ ФИЛЬТР ЭКСГАУСТЕРА №8</option>
                <option>ТИРИСТОРНЫЙ ВОЗБУДИТЕЛЬ ТВ-400 ЭКСГ8 ВУ1</option>
                <option>ПОДШИПНИК ОПОРНЫЙ №1</option>
                <option>ЭЛЕКТРООБОРУДОВАНИЯ ЭКСГАУСТЕРА №8</option>
                <option>ПОДШИПНИК ОПОРНЫЙ ЭКСГ. №8</option>
                <option>ЗАДВИЖКА ЭКСГ. №8</option>
                <option>МАСЛОНАСОС РАБОЧИЙ ЭКСГ. №8</option>
                <option>МАСЛОНАСОС ШЕСТЕРЕНЧАТЫЙ (РЕЗ.) ЭКСГ. №8</option>
                <option>МАСЛОНАСОС ШЕСТЕРЕНЧАТЫЙ (ПУСК.) ЭКСГ.№8</option>
                <option>ВК 310С ВИБРОПРЕОБРАЗОВАТЕЛЬ ЭКСГ.№8 Т.2</option>
                <option>ТР-Р ТМ-6300-10/6 ЭКСГ. №8</option>
                <option>ПОДШИПНИК ОПОРНО-УПОРНЫЙ ЭКСГ. №8</option>
                <option>МАСЛОПРОВОДЫ ЭКСГАУСТЕРА №8</option>
            </datalist>

            <datalist id="list_Y_ЭКСГАУСТЕР А/М №4">
                <option>ЭЛЕКТРОДВИГАТЕЛЬ ДСПУ-140-84-4 ЭКСГ. №4</option>
                <option>ПОДШИПНИК ОПОРНЫЙ ЭКСГ. №4</option>
                <option>УЛИТА ЭКСГ. №4</option>
                <option>РЕДУКТОР ГАЗ. ЗАДВИЖКИ ЭКСГ. №4</option>
                <option>МАСЛОНАСОС РАБОЧИЙ ЭКСГ. №4</option>
                <option>ЭЛЕКТРОАППАРАТУРА ЭКСГ. №4</option>
                <option>ПОДШИПНИК ОПОРНЫЙ №2 ЭКСГ. №4</option>
                <option>ЗАДВИЖКА ЭКСГ. №4</option>
                <option>ГСМ ЭКСГ. №4</option>
                <option>ВК 310С ВИБРОПРЕОБРАЗОВАТЕЛЬ ЭКСГ.№4 Т.1</option>
                <option>ТСМТ-101-010-50М-400 ТЕРМОПР.ПОДШ.Т.1</option>
                <option>РОТОР ЭКСГ. №4</option>
                <option>МАСЛООХЛАДИТЕЛЬ  М-05-1 ЭКСГ. №4</option>
                <option>ПОДШИПНИК ОПОРНО-УПОРНЫЙ ЭКСГ. №4</option>
                <option>ЭКСГАУСТЕР А/М №4</option>
                <option>ЗАП. И РЕГ. АРМАТУРА ЭКСГ.№4</option>
                <option>ПОДШИПНИК ОПОРНЫЙ №1 ЭКСГ. №4</option>
                <option>ЭЛ/ДВИГАТЕЛЬ ГАЗ. ЗАДВИЖКИ ЭКСГ. №4</option>
                <option>КЛ1 ТР№4 ДО ЭД ЭКСГАУСТЕРА №4</option>
                <option>КЛ2 ТР№4 ДО ЭД ЭКСГАУСТЕРА №4</option>
                <option>ТР-Р ТМ-4000-10/6 ЭКСГ. №4</option>
                <option>ТИРИСТ. ВОЗБУДИТЕЛЬ ВТ-РЭМ-400 ЭКСГ4 ВУ1</option>
                <option>МАСЛОПРОВОДЫ ЭКСГ №4</option>
            </datalist>

            <datalist id="list_Y_ЭКСГАУСТЕР А/М №7">
                <option>ЭЛЕКТРОДВИГАТЕЛЬ ДСПУ-140-84-4 ЭКСГ. №7</option>
                <option>КОРПУС ЭКСГ. №7</option>
                <option>ПОДШИПНИК ОПОРНЫЙ №1</option>
                <option>ЗАДВИЖКА ЭКСГ. №7</option>
                <option>ПОДШИПНИК ОПОРНЫЙ №2</option>
                <option>РОТОР ЭКСГ. №7</option>
                <option>ПОДШИПНИК ОПОРНО-УПОРНЫЙ ЭКСГ. №7</option>
                <option>ВК 310С ВИБРОПРЕОБРАЗОВАТЕЛЬ ЭКСГ.№7 Т.3</option>
                <option>РЕДУКТОР ГАЗ. ЗАДВИЖКИ ЭКСГ. №7</option>
                <option>ТСМТ-101-010-50М-80 ТЕРМОПРЕОБР.МАСЛО</option>
                <option>ПОДШИПНИК ОПОРНЫЙ ЭКСГ. №7</option>
                <option>ГСМ ЭКСГ. №7</option>
                <option>КОЖУХ МУФТЫ ЭКСГ. №7</option>
                <option>ЭКСГАУСТЕР А/М №7</option>
                <option>МАСЛОПРОВОДЫ ЭКСГАУСТЕРА №7</option>
                <option>МАСЛООХЛАДИТЕЛЬ  М-05-1 ЭКСГ. №7</option>
                <option>САПФИР 22 МДД ПЕРЕПАД ДАВЛ. НА ЦИКЛОНЕ</option>
                <option>ЭЛЕКТРООБОРУДОВАНИЯ ЭКСГАУСТЕРА №7</option>
                <option>МАСЛОНАСОС РАБОЧИЙ ЭКСГ. №7</option>
                <option>МАСЛОНАСОС ШЕСТЕРЕНЧАТЫЙ (ПУСК.) ЭКСГ.№7</option>
                <option>МАСЛЯНЫЙ ФИЛЬТР ЭКСГАУСТЕРА №7</option>
                <option>ТР-Р ТМ-4000-10/6 ЭКСГ. №7</option>
                <option>ТСМТ-101-010-50М-200 ТЕРМОПР.ПОДШ.Т.3</option>
                <option>ВК 310С ВИБРОПРЕОБРАЗОВАТЕЛЬ ЭКСГ.№7 Т.2</option>
                <option>ВК 310С ВИБРОПРЕОБРАЗОВАТЕЛЬ ЭКСГ.№7 Т.4</option>
                <option>ТИРИСТОРНЫЙ ВОЗБУДИТЕЛЬ ТВ-400 ЭКСГ7 ВУ1</option>
                <option>ТСМТ-101-010-50М-400 ТЕРМОПР.ПОДШ.Т.2</option>
                <option>КЛ1 ТР№7 ДО ЭД ЭКСГАУСТЕРА №7</option>
                <option>МЕТРАН-100 ДАТЧИКИ ДАВЛЕНИЯ ЭКСГ.№7</option>
                <option>РЕГУЛИРУЮЩАЯ АППАРАТУРА ЭКСГАУСТЕРА №7</option>
                <option>ЭЛ/ДВИГАТЕЛЬ ГАЗ. ЗАДВИЖКИ ЭКСГ. №7</option>
                <option>ТСМТ-101-010-50М-400 ТЕРМОПР.ПОДШ.Т.1</option>
            </datalist>


            <datalist id="list_Y_ЭКСГАУСТЕР А/М №6">
                <option>ЭЛЕКТРОДВИГАТЕЛЬ ДСПУ-140-84-4 ЭКСГ. №6</option>
                <option>КОРПУС ЭКСГ. №6</option>
                <option>ЗАДВИЖКА ЭКСГ. №6</option>
                <option>ПОДШИПНИК ОПОРНЫЙ №2</option>
                <option>РЕДУКТОР ГАЗ. ЗАДВИЖКИ ЭКСГ. №6</option>
                <option>ПОДШИПНИК ОПОРНО-УПОРНЫЙ ЭКСГ. №6</option>
                <option>САПФИР 22 МДД РАЗРЕЖЕНИЕ В КОЛЛЕКТОРЕ</option>
                <option>МАСЛОБАК ЭКСГ. №6</option>
                <option>ПОДШИПНИК ОПОРНЫЙ №1</option>
                <option>КОЖУХ МУФТЫ ЭКСГ. №6</option>
                <option>РОТОР ЭКСГ. №6</option>
                <option>ТР-Р ТМ-4000-10/6 ЭКСГ. №6</option>
                <option>ЭЛЕКТРООБОРУДОВАНИЯ ЭКСГ №6</option>
                <option>МАСЛООХЛАДИТЕЛЬ  М-05-1 ЭКСГ. №6</option>
                <option>САПФИР 22 МДД ПЕРЕПАД ДАВЛ. НА ЦИКЛОНЕ</option>
                <option>МАСЛОНАСОС РАБОЧИЙ ЭКСГ. №6</option>
                <option>ГАЗОВАЯ ЗАДВИЖКА ЭКСГАУСТЕРА А/М №6</option>
                <option>ЭКСГАУСТЕР А/М №6</option>
                <option>ПОДШИПНИК ОПОРНЫЙ ЭКСГ. №6</option>
                <option>ТИРИСТОРНЫЙ ВОЗБУДИТЕЛЬ ТВ-400 ЭКСГ6 ВУ1</option>
                <option>ДВИГАТЕЛЬ ПУСКОВОГО МАСЛОНАСОСА ЭКСГ. №6</option>
                <option>МАСЛОНАСОС ШЕСТЕРЕНЧАТЫЙ (ПУСК.) ЭКСГ.№6</option>
                <option>ВК 310С ВИБРОПРЕОБРАЗОВАТЕЛЬ ЭКСГ.№6 Т.3</option>
                <option>МАСЛОПРОВОДЫ ЭКСГ №6</option>
                <option>КЛ1 ТР№6 ДО ЭД ЭКСГАУСТЕРА №6</option>
                <option>КЛ2 ТР№6 ДО ЭД ЭКСГАУСТЕРА №6</option>
                <option>ВК 310С ВИБРОПРЕОБРАЗОВАТЕЛЬ ЭКСГ.№6 Т.2</option>
            </datalist>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2 offset-sm-6">
          <input class="form-control btn-success" type="submit" name="submit_button" value="Пуск">
        </div>
      </div>

      {% if 'plot_div' in result %}
      {% for i in range(result.plot_div|length) %}
      <div class="row">
        <div class="col-sm-10">
          {{ result.plot_div[i]|safe }}
          {{ result.plot_script[i]|safe }}
        </div>
      </div>
      {% endfor %}
      {% endif %}

      {% if 'table_html' in result %}
      {% for t_html in result.table_html %}
      <div class="row">
        <div class="col-sm-8">
            {{t_html|safe}}
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>


    </form>

</body>

</html>


